$titleBtn-FontSize:20px;   // 标题按钮字体大小
$label-FontSize : 18px;    // 文本字体大小
$input-FontSize:16px;      // 输入框字体大小



@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
    
}
@mixin transition{
    transition: height 0.2s;
    -o-transition: height 0.2s;	
    -moz-transition: height 0.2s;	
    -webkit-transition: height 0.2s;	
    
}
@mixin fontFamily($fontfamily){
    font-family:$fontfamily;   
    font-weight: bold;   
}
